.menu_1 {
    text-align: start;
    cursor: pointer;
}

.menu_2 {
    text-align: end;
    cursor: pointer;
}


.menu_3 {
    text-align: center;
}

p,
span {
    font-family: 'Roboto Condensed', sans-serif;
}


.miniheader {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

img {
    width: 100%;
}

.name {
    margin-bottom: 30px;
}

.price {
    margin-right: 20px;
}

.descrip {
    align-items: center;
    margin-right: 20px;
    font-weight: 600;
}

.image_content {
    align-items: center;
    justify-content: space-between;
}

.bt {
    border-radius: 50%;
    width: 25px;
    height: 25px;

}

.buttons:hover {
    cursor: pointer;
    transition: 0.5s;
}



.cart {
    padding: 0px 90px 0px 90px;
    background-color: black;
    color: white;
    padding-top: 13px;
    font-weight: 600;


}


.cart:hover .cart p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: large;
    padding-top: 10px;

}

.add_counter button {
    font-size: xx-large;
    align-items: center;
    background-color: white;
    border-style: none;

}


.counter {
    align-content: center;
}


.relate_0 .img_5 {
    overflow: hidden;

}

.img_5 img {
    overflow: hidden;
    display: block;
    transition: ease-in-out all 0.6s;
    cursor: pointer;
}

.img_5 img:hover {
    transform: scale(1.1);
}

.divide {
    border-style: solid;
    height: 2px;
}

.logo_details {
    text-align: end;
}

.logo_details i:hover {
    color: red;
    cursor: pointer;
    transition: 0.5s;
}